body {
  padding: 100px;
}
.submit-area {
  padding: 40px;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 5px 5px 19px 2px grey;
}
#transection-area {
  display: none;
}
.status {
  border-radius: 10px;
  padding: 20px;
  color: white;
  margin: 0 40px;
}
.deposit {
  background-color: slateblue;
}
.withdraw {
  background-color: lightsalmon;
}
.balance {
  background-color: orange;
}
